# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Build and packaging
dist/
build/
*.egg-info/

# Test and coverage artifacts
.pytest_cache/
.coverage
htmlcov/

# IDE and editor files
.vscode/
.idea/

# Other
.ruff_cache/
dump.rdb
